@font-face {
  font-family: 'password';
  font-style: normal;
  font-weight: 400;
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

a {text-decoration: none; color: black;}

body {
  background-color: #FFFACD;
  font-family: Arial;
  font-size: 18px;
}


input.key {
  font-family: 'password';
  width: 96%; height: 100%;  
}

div.move input {
	margin-left: 10%;
}


div.class1 {
	background-color: #808080;
}

div.class1 * {
	display: inline;
	padding-left: 1%;
	padding-right: 1%;
}

div.letterSearch * {
	margin-top: 2%;
	text-decoration: none;
}

div.class2 {
	background-color: #C0C0C0;
	padding: 1% 2% 1% 2%;
}

div.class2 * {
	padding-left: 1%;
	padding-right: 1%;
	color: black;
	text-decoration: none;
}

#BodyText {
	float: left; 
	margin-left: 10%; 
	margin-top: 7%;
}

#admin {
	color: black;
	text-decoration: none;
}

#contact {
	float: left; 
	margin-left: 12%; 
	margin-top: 7%;
}

ul:hover {
	background-color: #DCDCDC;
}

* {
  box-sizing: border-box;
}

#pic1 {
	float: left;
	margin-left: 4%;
	margin-top: 4%;
}

#signUpForm {
	margin-top: 6%;
}

div.class2 a:hover {
    background-color: #ddd;
	padding: 1%;
	color: #696969;
	border: solid .1px black;
}

div.class2 a.active {
    color: white;
    background-color: #4CAF50;
}

div.class3 {
	margin-top: 5%;
}

div.create {
	margin-top: 2%;
	display: block;
}

div.footer {
	margin-top: 3%;
	background-color: #e7a56a ;
	text-align: center;
	vertical-align: baseline;
	height: 4%;
	padding-bottom: 0.2%;
	width: 100%;
	font-weight: bold;
	padding-top: 0.2%;
}

.fa {
  width: 3%;
  padding: 0.5%;
  font-size: 32px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  text-align: center;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}